/*      ??? tailwind configs ??? */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ??? import fonts ??? */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@layer utilities {
  html{
    color-theme:light;
  }
  .text-balance {
    text-wrap: balance;
  }
}

.main-button{
  background: radial-gradient(#458FF6 100%,#45f6f6 0%);
  transition: all 1s;
}
.main-button:hover{
  background: radial-gradient(#458FF6 0%,#45f6f6 100%);
}
.big-card{
  transition: all 0.4s ease;
}
.big-card:hover{
  transform: translate(-5px,-5px);
}